<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--mybatis的核心配置-->
    <!--当前数据环境，，数据来源。 default当前项目采用哪一个数据源-->
    <environments default="development">
        <!--数据源，id是当前数据源的唯一标识-->
        <environment id="development">
            <!--采用JDBC默认的事务进行事务的管理-->
            <transactionManager type="JDBC"/>
            <!--配置数据源，type表示启用连接池-->
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/db_1706"/>
                <property name="username" value="root"/>
                <property name="password" value="123456"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="user.mapper.xml"/>
        <mapper resource="department.mapper.xml"/>
    </mappers>
</configuration>